name: Build and Push Build-Container

on:
  push:
    branches:
      - 'main'
    tags:
      - '*.*.*'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        # ##versions: https://github.com/docker/setup-qemu-action
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        # ##versions: https://github.com/docker/setup-buildx-action
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: tag_names
        # ##versions: https://github.com/docker/metadata-action
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/action-runner-container
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - name: Build and push
        # ##versions: https://github.com/docker/build-push-action
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64  # ,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.tag_names.outputs.tags }}
          labels: ${{ steps.tag_names.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
